<div ng-controller="footerController as vm" id="footer">
    <div class="controls-bar bar">
        <a class="icon" href ng-class="{'active': vm.active == item.name}" ng-click="vm.active === item.name ? vm.active = undefined : vm.active = item.name">
            <img src="/src/img/icons/start.png"/>
        </a>
        <a class="icon" ng-href="{{item.link}}"
           ng-repeat="item in vm.icons track by $index"
           ng-class="{'active': vm.active == item.name}"
           ng-click="vm.active === item.name ? vm.active = undefined : vm.active = item.name">
            <i class="fa {{item.icon}} {{item.size}} {{item.color}}"></i>
        </a>
        <a class="icon" ng-href="{{item.link}}"
           ng-repeat="item in modules track by $index">
            {{item.name}}
        </a>


    </div>
    <div class="status-bar bar">
        <div class="icon collapse-all"></div>
        <div class="icon clock-icon">
            <p>{{currentTime}}<br/><small>{{currentDate}}</small></p>
        </div>
    </div>
</div>

